@charset "utf-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body{
	height: 100%;
}
html{
	display: table;
	margin: auto;
}
body{
	background-color: #6743ff;
	display: table-cell;
	vertical-align: middle;
}
img{
	margin: auto;
	display: block;
	pointer-events: none;
}
.text{
	font-family: 'Rubik', sans-serif;
	text-align: center;
	padding-top: 20px;
}
.text h2{
	color: #FAABFF
}
.text h3{
	padding-top: 30px;
	font-size: 30px;
	color: white;
}
.text a{
	background-color: #FAABFF;
	padding: 20px;
	text-decoration: none;
	color: #6743ff;
	position: relative;
	top: 60px;
}
.text a:hover{
	background-color: #F780FF;
	color: #4A20FC;
}